$bastion-red:rgb(190,21,27);
$bastion-blue:rgb(35,62,81);
$bastion-green:rgb(117,195,74);
$bastion-darkgreen:rgb(120,149,81);
$bastion-footerblue:rgb(164, 193, 213);
$bastion-darkblue:rgb(25, 44, 58);
$break-large: 1280px;
$break-mediumlarge: 1200px;
$break-medium:1130px;
$break-small:992px;
$break-extrasmall:768px;
$break-mobile:520px;

@font-face {
    font-family: 'Helvetica';
    src: url(fonts/helvetica.ttf) format(opentype);
}


*{
  font-family: 'Montserrat', sans-serif;
}

.hidden{
  overflow:hidden;
}

#wrapper{
  @media screen and (max-width: 576px) {
  }
  .navbar{
    padding: 20px 100px;
    background-color:white;
    @media screen and (max-width: $break-mobile) {
      padding:20px 20px;;
    }
    .navbar-nav{
      a{
        color:$bastion-blue;
        font-family:"Helvetica";
        margin-left: 12px;
        @media screen and (max-width: $break-large) {
          font-size:12px;
        }
        @media screen and (max-width: $break-medium) {
          font-size:10px;
          margin-left:7px;
        }
        &:hover{
          color:$bastion-red;
        }
      }
      .nav-item{
        &:hover{
          color:$bastion-red;
        }
      }
      .active a{
        color:$bastion-red;
      }
      .active a{
        img{
           -webkit-filter: invert(65%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
          filter: invert(70%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
        }
      }
      .home a{
        img{
         
          margin-right: 10px;
        }
        &:hover{
           -webkit-filter: invert(65%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
          filter: invert(70%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
        }
      }
      .contact{
        background-color:$bastion-green;
        color:white;
        box-shadow:-1px 2px 15px 2px lightgrey;
        transition: all .2s ease-in-out;
        &:hover{
          color:white;
          transform: scale(1.1);
        }
        @media screen and (max-width:$break-small){
          width: 100px;
          padding-left: 10px;
          margin-bottom:10px;
        }
      }
      .fb{
        border: solid 2px darkgray;
        border-radius: 25px;
        margin-left: 12px;
        @media screen and(max-width:$break-small){
          width:34px;
        }
        &:hover{
          border-color:$bastion-red;
          i{
            color:$bastion-red;
            @media screen and(max-width:$break-small){
              padding: 10px 14px;
            }
          }
        }
        a{
          margin-left:0;
        }
        i{
          padding: 10px 15px;
          color:darkgray;
        }
      }
      .language{
        color:darkgray;
        font-size:18px;
        &:hover{
          color:$bastion-red;
        }
      }
    }
  }
  #header{
    .carousel-item-next, .carousel-item-prev, .carousel-item.active{
      display:flex !important;
    }
    position:relative;
    top:88px;
    .container-fluid{
      height:100%;
      padding:0;
      .carousel{
        height:100%;
        .carousel-inner{
          height:100%;
          .active{
            display:flex !important;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            background-size: cover;
            background-position: center center;
            .carouselContent{
              position:absolute;
              left:0px;
              right:0px;
              top:50%;
              transform:translateY(-50%);
              h6{
                color:$bastion-red;
                font-size:18px;
                text-align:center;
                font-weight:bold;
              }
              h3{
                font-size:48px;
                color:white;
                text-align:center;
                font-weight:bold;
                @media screen and (max-width: $break-medium) {
                  font-size:32px !important;
                }
                @media screen and (max-width: $break-small) {
                  font-size:24px !important;
                }
              }
              .carouselButton{
                display: block;
                margin: 0 auto;
                color:white;
                background-color:$bastion-red;
                border:none;
                outline:none;
                padding: 14px 50px;
                cursor:pointer;
              }
            }
          }
          .carousel-item{
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            background-size: cover;
            background-position: center center;
            .carouselContent{
              position:absolute;
              left:0px;
              right:0px;
              top:50%;
              transform:translateY(-50%);
              h6{
                color:$bastion-red;
                font-size:24px;
                text-align:center;
                font-weight:bold;
                text-shadow: -2px -2px 10px white, 0 2px 10px white, 4px 0 10px white, 0 1px 10px white;

              }
              h3{
                font-size:48px;
                color:white;
                text-align:center;
                font-weight:bold;
                text-shadow: -2px -2px 10px #233e51, 0 2px 10px #233e51, 4px 0 10px #233e51, 0 1px 10px #233e51;
                @media screen and (max-width: $break-medium) {
                  font-size:32px !important;
                }
                @media screen and (max-width: $break-small) {
                  font-size:24px !important;
                }
              }
              .carouselButton{
                display: block;
                margin: 0 auto;
                color:white;
                background-color:$bastion-red;
                border:none;
                outline:none;
                padding: 14px 50px;
                cursor:pointer;
              }
            }
          }
        }
        .carousel-control-prev-icon{
          background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M0 0h24v24H0z' fill='none'/%3e%3cpath d='M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z' fill='%23fff'/%3e%3c/svg%3e");
          background-color:$bastion-blue;
          width: 56px;
          height: 48px;
          transform:rotate(180deg);
        }
        .carousel-control-next-icon{
          background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M0 0h24v24H0z' fill='none'/%3e%3cpath d='M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z' fill='%23fff'/%3e%3c/svg%3e");
          background-color:$bastion-blue;
          width: 56px;
          height: 48px;
        }
      }
    }
  }
  #aboutus{
    position:relative;
    top:88px;
    margin-top:60px;
    .aboutuslogopicture{
      @media screen and (max-width: $break-extrasmall) {
        padding-bottom:80px;
      }
      @media screen and (max-width: $break-mobile) {
        padding-left:0px;
        padding-bottom:0;
      }
    }
    .container-fluid{
      overflow:hidden;
    }
    h6{
      font-size:24px;
      color:$bastion-red;
      font-weight:900;
      font-family:"Helvetica";
    }
    h3{
      font-size:32px;
      color:$bastion-blue;
      font-weight:900;
      margin-top:20px;
    }
    p{
      font-size:18px;
      color:$bastion-blue;
      padding-right:20px;
      margin-top:20px;
      font-family:"Helvetica";
    }
    .abouticon{
      h6{
        font-size:16px;
      }
      p{
        margin:0;
      }
    }
    .aboutimage{
      position: absolute;
      left: 60px;
      top: 50px;
      height: 325px;
      width: 525px;
      box-shadow: 1px 1px 40px 10px lightgrey;
      @media screen and (max-width: $break-small) {
        height:300px;
        width:410px;
      }
      @media screen and (max-width: $break-extrasmall) {
        height:300px;
        width:410px;
      }
       @media screen and (max-width: $break-mobile) {
        height: 220px;
        width: 100%;
        left:0px;
      }
    }
    .aboutInfo{
      position: absolute;
      left: 60px;
      top: 50px;
      height: 325px;
      width: 525px;
      background-color: rgba(120,149,81,0.7);
      opacity:0;
      @media screen and (max-width: $break-small) {
        height:300px;
        width:410px;
      }
      @media screen and (max-width: $break-extrasmall) {
       width:496px;
      }
      @media screen and (max-width: $break-mobile) {
       width: 100%;
       left: 0px;
       height: 220px;
      }
      h4{
        font-size:24px;
        color:white;
        font-weight:bold;
        margin-top: 50px;
        padding-left: 20px;
        @media screen and (max-width: $break-mobile) {
         font-size:20px;
         margin-top:22px;
        }
      }
      h6{
        font-size:16px;
        color:$bastion-blue;
        font-weight:bold;
        padding-left: 20px;
      }
      p{
        color:white;
        padding-left: 20px;
        font-family:"Helvetica";
        @media screen and (max-width: $break-mobile) {
         font-size:12px;
         margin-top: 2px;
        }
      }
      a{
        color:white;
        background-color:$bastion-blue;
        text-decoration:none;
        margin-left: 170px;
        padding: 15px 15px;
        @media screen and (max-width: $break-mobile) {
         margin-left:84px;
        }
      }
      .close{
        background-color:$bastion-blue;
        color:white;
        padding: 12px;
        @media screen and (max-width: $break-mobile) {
         padding:8px;
        }
      }
    }
    .aboutlogo{
      position: absolute;
      left: 75px;
      top: 60px;
      @media screen and (max-width: $break-mobile) {
        left:10px;
        width:20%;
      }
    }
    .aboutMore{
      position: relative;
      top: 96px;
      left:45px;
      width: 500px;
      display: flex;
      @media screen and (max-width: $break-mediumlarge) {
        bottom:33px;
      }
      @media screen and (max-width: $break-small) {
        top:72px;
        width:444px;
      }
      @media screen and (max-width: $break-extrasmall) {
        position:relative;
        top:72px;
        left:45px;
      }
      @media screen and (max-width: $break-mobile) {
        top: -8px;
        left: 0px;
        width: 100%;
      }
      .textarea{
        background-color:$bastion-darkgreen;
        width: 80%;
        height: 55px;
        h6{
          color:white;
          margin: 0;
          padding-left: 20px;
          font-weight: 600;
          @media screen and (max-width: $break-mobile) {
            font-size:14px;
          }
        }
      }
      button{
        color:white;
        background-color:$bastion-blue;
        border:none;
        outline:none;
        width:50px;
        font-size:32px;
        cursor:pointer;
      }
    }
    .aboutNumbers{
      margin-top:80px;
      text-align:center;
      img{
        display:block;
        margin:0 auto;
      }
      h5{
        margin-top: 15px;
        font-weight:bold;
        color:$bastion-blue;
      }
      p{
        margin-top:8px;
        font-size: 14px;
        font-weight: bold;
        padding-right: 0;
        color:$bastion-blue;
      }
    }
  }
  #advantages{
    position: relative;
    top: 120px;
    background-color:$bastion-blue;
    min-height: 760px;
    @media screen and (max-width: $break-mediumlarge) {
        min-height:930px;
      }
    @media screen and (max-width: $break-small) {
        min-height:1320px;
      }
      @media screen and (max-width: $break-extrasmall) {
        overflow:hidden;
      }
    .container-fluid{
      padding-top:60px;
    }
    .left{
      padding-right:0;
      padding-top:40px;
      @media screen and (max-width: $break-mediumlarge) {
        padding-right: 0px;
        padding-top: 144px;
      }
      @media screen and (max-width: $break-small) {
        order: 2;
        height:480px;
        padding-top: 48px;
      }
      @media screen and (max-width: $break-mobile) {
        padding-top:0;
      }
    }
    .pattern{
      float: right;
      width: 500px;
      @media screen and (max-width: $break-extrasmall) {
        position:absolute;
        left:265px;
        width:420px;
      }
      @media screen and (max-width: $break-mobile) {
        left:170px;
      }
    }
    .advantageimage{
      position: absolute;
      top: 90px;
      right: 54px;
      height: 500px;
    width: 810px;
    @media screen and (max-width: $break-mediumlarge) {
        top: 188px;
        right: 22px;
        height: 392px;
        width: 592px;
      }
      @media screen and (max-width: $break-extrasmall) {
        height: 380px;
        width: 604px;
        top: 90px;
        left: 0;
      }
      @media screen and (max-width: $break-mobile) {
        height: 240px;
        width: 340px;
        top: 46px;
      }
    }
    .right{
      padding-top:40px;
      @media screen and (max-width: $break-mobile) {
        padding-top:0;
      }
      h6{
        font-size:24px;
        color:$bastion-red;
        text-align:right;
        font-weight:900;
        @media screen and (max-width: $break-small) {
          text-align:center;
        }
      }
      h3{
        font-size:34px;
        color:white;
        font-weight:900;
        text-align: right;
        font-family:"Helvetica";
        @media screen and (max-width: $break-small) {
          text-align:center;
        }
        @media screen and (max-width: $break-mobile) {
          font-size:26px;
        }
      }
      .mb-3{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        margin-left: 50px;
      }
      ul{
        @media screen and (max-width: $break-small) {
          margin-left:15px !important;
          a{
            font-size:12px !important;
          }
        }
        @media screen and (max-width: $break-mobile) {
          padding-left:0;
        }
      }
      li a{
        color:white;
        font-size:14px;
        font-weight:bold;
      }
      .nav-link.active{
        background-color:$bastion-red;
      }
      .tab-content{
        margin-left:32px;
        @media screen and (max-width: $break-mobile) {
          margin-left:0;
        }
      }
      .tab-pane{
        ul{
          li{
            color:$bastion-red;
            margin-bottom: 8px;
          }
          li span {
            color: white;
            font-size:12px;
          }
          strong{
            font-size:16px;
          }
        }
      }
      #pills-profile{
        ul{
          li{
            padding-top:15px;
            span{
              font-size:16px;
            }
          }
        }
      }
      #pills-contact{
        ul{
          li{
            padding-top:15px;
            span{
              font-size:16px;
            }
          }
        }
      }
    }
  }
  #gallery{
    position: relative;
    top: 120px;
    padding-top: 60px;
    .zoom{
     

    }
    .transition{
    }
    .thumb{
      margin-bottom: 20px;
      display:flex;
      flex-direction:column;
      a{
        position:relative;
        height:100%;
        .highlight{
          width: 100%;
          height: 100%;
          background-color: blue;
          position: absolute;
          top: 0;
          pointer-events: none;
          display:none;
        }
        &:hover{
          .highlight{
            display: flex;
            position: absolute;
            height: 100%;
            background-color: rgba(190, 21, 27, 0.7);
            width: 100%;
            align-items: center;
            justify-content: center;
            top: 0;
          }
          i{
            color: white;
            font-weight: 600;
            font-size: 32px;
          }
        }
      }
      
    }
    h3{
      color:$bastion-red;
      font-size:24px;
      font-weight:900;
      font-family:"Helvetica";
      text-align:center;
      padding-bottom:50px;
    }
    h4{
      font-size:16px;
      color:$bastion-blue;
      text-align:center;
      font-style: italic;
      padding-top: 10px;
    }
  }
  #mminvest{
    position:relative;
    top:120px;
    padding-top:60px;
    .blue{
      background-color: $bastion-blue;
      height: 800px;
      width: 100%;
      float: right;
      @media screen and (max-width: $break-mediumlarge) {
        display:none;
      }
    }
    h4{
      font-size:24px;
      color:$bastion-red;
      font-weight:900;
      margin-bottom:12px;
      font-family:"Helvetica";
      text-transform:uppercase;
      @media screen and (max-width: $break-mediumlarge) {
        text-align:center;
      }
    }
    h3{
      font-size:36px;
      color:$bastion-blue;
      font-weight:900;
      margin-bottom:30px;
      @media screen and (max-width: $break-mediumlarge) {
        text-align:center;
      }
    }
    p{
      font-size:14px;
      color:$bastion-blue;
      font-family:"Helvetica";
      @media screen and (max-width: $break-mediumlarge) {
        text-align:center;
        margin-left:0 !important;
      }

    }
    h5{
      font-size:15px;
      color:$bastion-red;
      font-weight:bold;
      margin-bottom:20px;
      margin-top:40px;
      @media screen and (max-width: $break-mediumlarge) {
        text-align:center;
      }
    }
    h6{
      font-size:11px;
      color:$bastion-blue;
      font-weight:bold;
      margin-top:14px;
      text-align:center;
      @media screen and (max-width: $break-small) {
        text-align:center;
      }
    }
    .realisedProjects{
      img{
        display:block;
        margin:0 auto;
      }
    }
    .realisingProjects{
      img{
        display:block;
        margin:0 auto;
      }
    }
    .mminvestinfo{
      position:absolute;
      top:0;
      margin-left:50%;
      transform:translateX(-50%);
      @media screen and (max-width: $break-mediumlarge) {
        position:relative;
      }
      .investlogo{
        margin-top: 135px;
        margin-left: 40px;
        @media screen and (max-width: $break-mediumlarge) {
          margin-top: 80px;
          display: flex;
          justify-content: center;
        }
        @media screen and (max-width: $break-mobile) {
          margin-left:0;
        }
      }
      
      .mminvestpattern{
        @media screen and (max-width: $break-mediumlarge) {
          padding-top:20px;
        }
        img{
          position: relative;
          left: 220px;
          @media screen and (max-width: $break-mediumlarge) {
            left: 170px;
          }
          @media screen and (max-width: $break-extrasmall) {
            left: 5px;
          }
          @media screen and (max-width: $break-mobile) {
            left: 110px;
            height: 300px;
          }
        }
        #mmInvestCarousel{
          @media screen and (max-width: $break-large) {
            left: 20px;
          }
          @media screen and (max-width: $break-mediumlarge) {
            top: 215px;
           left: 125px;
          }
          @media screen and (max-width: $break-extrasmall) {
            width:90%;
            left:15px;
          }
          position: absolute;
          top: 242px;
          left: 55px;
          h5{
            margin:0;
            position: absolute;
    width: 100%;
    left: 0;
    text-align: left;
    padding-left:15px;
    padding-top: 15px;
    background-color: rgba(35, 62, 81, 0.8);
    padding-bottom: 15px;
    color: white;
    font-size: 18px;
          }
          .carousel-item{
            width:550px;
            height:342px;
            @media screen and (max-width: $break-mobile) {
              width: 100%;
              height: 240px;
            }
          }
          .active{
            background-size: cover;
            background-position: center center;
          }
        }
      }
      .mmblue{
        @media screen and (max-width: $break-mediumlarge) {
        background-color:$bastion-blue;
      }
      }
    }
    .font-italic{
      margin-left:40px;
      text-align:center;
    }
    .relocation{
      color: white;
      background-color: $bastion-red;
      padding: 15px 30px;
      text-decoration:none;
      display: block;
      margin: 0 auto;
      width: 350px;
      @media screen and (max-width: $break-mediumlarge) {
       margin-bottom:40px;
      }
    }
    .carousel-controls{
      position: relative;
      height: 60px;
      bottom: 60px;
    }
  }
  #contactUs{
    position: relative;
    top: 120px;
    padding-top: 80px;
    padding-bottom: 100px;
    .header{
      padding-bottom:50px;
    }
    h3{
      font-size:24px;
      font-weight:900;
      font-family:"Helvetica";
      color:$bastion-red;
      text-align:center;
    }
    h5{
      font-size:18px;
      font-weight:900;
      font-family:"Helvetica";
      color:$bastion-blue;
      text-align:center;
    }
    .form-control{
      padding: 20px 30px;
      border: none;
      box-shadow: -2px -1px 60px 0px #E0E0E0;
      font-weight:bold;
      font-size:14px;
    }
    .form-check{
      padding-left: 90px;
      strong{
        color:$bastion-blue;
        text-decoration:underline;
      }
    }
    .sendContact{
      background-color:$bastion-red;
      color:white;
      border:none;
      outline:none;
      padding: 12px 25px;
      display: block;
      margin: 0 auto;
      cursor:pointer;
    }
    .contactBox{
      display:flex;
      align-items: center;
      box-shadow: -2px -1px 60px 0px #E0E0E0;
      height: 160px;
      justify-content:center;
      @media screen and (max-width: $break-mobile) {
       margin-left:0px !important;
      }
      .contactBoxIcon{
        padding-top: 30px;
        padding-bottom: 30px;
      }
      .contactBoxText{
        padding-left: 60px;
        h6{
          font-size: 16px;
          color:$bastion-red;
          font-weight: 900;
          text-align:center;
        }
        h4{
          font-size:18px;
          color:$bastion-blue;
          font-weight:900;
          text-align:center;
        }
      }
    }
  }
  .footer{
    position: relative;
    top: 120px;
    padding-top: 80px;
    background-color:$bastion-blue;
    padding-bottom: 50px;
    img{
      height: 40px;
      margin-top:35px;
          margin-bottom: 20px;
    }
    h6{
      color:white;
      font-size:14px;
      font-weight:bold;
      padding-bottom:10px;
    }
    p{
      color:$bastion-footerblue;
      font-size:14px;
      margin-bottom:5px;
    }
    a{
      color:$bastion-footerblue;
      font-size:14px;
      margin-bottom:5px;
      cursor:pointer;
    }
    .footerother{
      p{
        cursor:pointer;
      }
       @media screen and (max-width: $break-mediumlarge) {
       display:block !important;
      }
    }
    .footersocial{
      a{
        background-color:$bastion-darkblue;
        padding:8px 14px;
        border-radius: 55px;
      }
      i{
        color:$bastion-blue;
      }
    }
    .footerlogo{
      @media screen and (max-width: $break-mediumlarge) {
       display:flex;
       justify-content:center;
      }
    }
    .bastionffice, .footerdeveloper, .footerother{
      @media screen and (max-width: $break-mediumlarge) {
       text-align:center;
      }
    }
  }
  #map{
    position:relative;
    top:120px;
    padding-top:80px;
    
    .background{
      height: 45%;
      width: 100%;
      position: absolute;
      background-color: $bastion-blue;
      bottom: 0;
      border-top: 25px solid $bastion-red;
    }
    h3{
      font-size:24px;
      color:$bastion-red;
      font-weight:900;
      font-family:"Helvetica";
      text-align:center;
    }
    #bastionMap{
      width:100%;
      height:70vh;
    }
    .mapbuttons{
      a{
        color:$bastion-blue;
        font-weight:600;
        font-size:14px;
        cursor:pointer;
      }
    }
    .active{
      background-color:$bastion-red;
      color:white !important;
    }
    .bus{
      .active{
        background-color: #12BCFB;
      }
    }
    .carpark{
      .active{
        background-color: #8E9BE0;
      }
    }
    .coffee{
      .active{
        background-color: #885931;
      }
    }
    .atm{
      .active{
        background-color: #F7E90F;
      }
    }
    .postoffice{
      .active{
        background-color:#FABB00;
      }
    }
    .restaurants{
      .active{
        background-color:#FF9F68;
      }
    }
  }
  #news{
    position:relative;
    top:120px;
    padding-top:80px;
    h4{
      font-size: 24px;
      color:$bastion-red;
      font-weight:900;
      font-family:"Helvetica";
      text-transform:uppercase;
    }
    h6{
      font-size:16px;
      color:$bastion-blue;
      cursor:pointer;
      font-family:"Helvetica";
    }
    #newsCarousel{
      padding-top:2rem;
      width:100%;
      background-color:white;
      padding-right:3%;
      .carousel-item{
        padding-top:10px;
        padding-bottom:10px;
      }
      .carousel-inner .carousel-item.active,
      .carousel-inner .carousel-item-next,
      .carousel-inner .carousel-item-prev {
        display: flex;
      }
      .carousel-inner .carousel-item-right.active,
      .carousel-inner .carousel-item-next {
        transform: translateX(33.3333%);
      }
      .carousel-inner .carousel-item-left.active, 
      .carousel-inner .carousel-item-prev {
        transform: translateX(-33.3333%);
      }
      .carousel-inner .carousel-item-right,
      .carousel-inner .carousel-item-left{ 
        transform: translateX(0);
      }
      .carousel-control-prev, .carousel-control-next{
        width: 3%;
      }
      .col-4{
        max-width:30%;
        padding-top:10px;
        padding-bottom:10px;
      }
      .newsCarouselContent{
            box-shadow: 0px 0px 18px 2px #E0E0E0;
            margin-left: 3.3333%;
            padding-left: 0;
            padding-right: 0;
            padding-top: 0;
            cursor:pointer;
        h6{
          font-size:14px;
          color:$bastion-blue;
          text-align:center;
          font-weight:bold;
        }
        p{
          font-size:12px;
          font-weight:bold;
          text-align:center;
          padding-bottom:50px;
        }
        .hoverbckgrnd{
          display:none;
          i{
            color: white;
            font-weight: 600;
            font-size: 32px;
          }
        }
        &:hover{
          .hoverbckgrnd{
            display: flex;
            position: absolute;
            height: 100%;
            background-color: rgba(190, 21, 27, 0.7);
            width: 100%;
            align-items: center;
            justify-content: center;
            top: 0;
          }
          i{
            color: white;
            font-weight: 600;
            font-size: 32px;
          }
        }
      }
    }
  }

  .pb-100{
    padding-bottom:100px;
  }
  .pt-100{
    padding-top:100px;
  }
  .headerActuality{
    position: relative;
    top: 88px;
    h6{
      color:$bastion-red;
      font-weight:bold;
      text-shadow: -2px -2px 10px #233e51, 0 2px 10px #233e51, 4px 0 10px #233e51, 0 1px 10px #233e51;
    }
    h4{
      color:white;
      font-weight:900;
      font-family:"Helvetica";
      text-shadow: -2px -2px 10px #233e51, 0 2px 10px #233e51, 4px 0 10px #233e51, 0 1px 10px #233e51;
    }
  }
  .actulityContent{
    position: relative;
    top: 88px;
    padding-top:80px;
    h5{
      font-size:32px;
      color:$bastion-blue;
      font-weight:900;
      font-family:"Helvetica";

    }
    p{
      font-size:16px;
      color:rgb(45,45,45);
      padding-top: 16px;
      font-family: "Helvetica";
      line-height: 32px;
    }
    img{
      margin-top: 70px;
      margin-left: 32px;
      box-shadow: 0px 0px 18px 2px #E0E0E0;
    }
    h3{
      font-size:24px;
      font-weight:900;
      color:$bastion-red;
      text-align:center;
      padding-top:40px;
      font-family:"Helvetica";
    }
    h6{
      font-size:18px;
      color:$bastion-blue;
      text-align:center;
      font-weight:900;
      padding-top:20px;
      padding-bottom:40px;
      font-family:"Helvetica";
    }
    a{
      color:$bastion-blue;
      text-decoration:underline;
      font-family:"Helvetica";
      font-weight:900;
    }
  }
  #actualityArchiveContent{
    position:relative;
    top:120px;
    padding-top:20px;
    .col-lg-4{
      @media screen and (min-width: $break-medium) {
        max-width:30%;
      }
    }
    .col-12{
      @media screen and (max-width: $break-medium) {
      max-width:70%;
      }
    }
    .aktualita{
      box-shadow: 0px 0px 18px 2px #E0E0E0;
      margin-left: 3.3333%;
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
      cursor:pointer;
      margin-bottom: 30px;
      
      h6{
        font-size:14px;
        color:$bastion-blue;
        text-align:center;
        font-weight:bold;
      }
      p{
        font-size:12px;
        font-weight:bold;
        text-align:center;
        padding-bottom:50px;
      }
      .hoverbckgrnd{
        display:none;
        i{
          color: white;
          font-weight: 600;
          font-size: 32px;
        }
      }
      &:hover{
        .hoverbckgrnd{
          display: flex;
          position: absolute;
          height: 100%;
          background-color: rgba(190, 21, 27, 0.7);
          width: 100%;
          align-items: center;
          justify-content: center;
          top: 0;
        }
        i{
          color: white;
          font-weight: 600;
          font-size: 32px;
        }
      }
    }
  }
  .aktualita{
      box-shadow: 0px 0px 18px 2px #E0E0E0;
      margin-left: 3.3333%;
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
      cursor:pointer;
      margin-bottom: 30px;
      @media screen and (max-width: 576px) {
        margin-right:4%;
      }
      h6{
        font-size:14px;
        color:$bastion-blue;
        text-align:center;
        font-weight:bold;
        padding-left: 10px;
    padding-right: 10px;
      }
      p{
        font-size:12px;
        font-weight:bold;
        text-align:center;
        padding-bottom:50px;
      }
      .hoverbckgrnd{
        display:none;
        i{
          color: white;
          font-weight: 600;
          font-size: 32px;
        }
      }
      &:hover{
        .hoverbckgrnd{
          display: flex;
          position: absolute;
          height: 100%;
          background-color: rgba(190, 21, 27, 0.7);
          width: 100%;
          align-items: center;
          justify-content: center;
          top: 0;
        }
        i{
          color: white;
          font-weight: 600;
          font-size: 32px;
        }
      }
    }
  #spaces{
    position:relative;
    top:120px;
    padding-top:80px;
    h4{
      font-size:24px;
      color:$bastion-red;
      font-weight:900;
      margin-bottom:12px;
      font-family:"Helvetica";
      text-align:right;
    }
    h3{
      font-size:36px;
      color:$bastion-blue;
      font-weight:900;
      margin-bottom:30px;
      text-align:right;
    }
    .pattern{
      position:absolute;
      top:0;
      left:0;
      z-index:-1;
    }
    #first{
      opacity:0;
      position:absolute;
      bottom:14%;
      left:0;
      cursor:pointer;
      @media screen and (max-width: $break-small) {
        bottom:13%;
      }
      @media screen and (max-width: $break-mobile) {
        bottom:10%;
      }
    }
    #second{
      opacity:0;
      position:absolute;
      bottom: 28%;
      left:0;
      cursor:pointer;
      @media screen and (max-width: $break-small) {
        bottom:27%;
      }
      @media screen and (max-width: $break-mobile) {
        bottom:23%;
      }
    }
    #third{
      opacity:0;
      position:absolute;
      bottom: 38%;
      left:0;
      cursor:pointer;
      @media screen and (max-width: $break-small) {
        bottom:36%;
      }
      @media screen and (max-width: $break-mobile) {
        bottom:32%;
      }
    }
    #fourth{
      opacity:0;
      position:absolute;
      bottom: 48%;
      left:0;
      cursor:pointer;
      @media screen and (max-width: $break-small) {
        bottom:45%;
      }
      @media screen and (max-width: $break-mobile) {
        bottom:41%;
      }
    }
    #fifth{
      opacity:0;
      position:absolute;
      bottom: 59%;
      left:0;
      cursor:pointer;
      @media screen and (max-width: $break-mediumlarge) {
        bottom:58%;
      }
      @media screen and (max-width: $break-small) {
        bottom:56%;
      }
      @media screen and (max-width: $break-extrasmall) {
        bottom:54%;
      }
      @media screen and (max-width: $break-mobile) {
        bottom:51%;
      }
    }
    #sixth{
      opacity:0;
      position:absolute;
      bottom: 70%;
      left:0;
      cursor:pointer;
      @media screen and (max-width: $break-mediumlarge) {
        bottom:69%;
      }
      @media screen and (max-width: $break-small) {
        bottom:67%;
      }
      @media screen and (max-width: $break-extrasmall) {
        bottom:64%;
      }
      @media screen and (max-width: $break-mobile) {
        bottom:61%;
      }
    }
    .podlazieButton{
      cursor:pointer;
      @media screen and (max-width: $break-extrasmall) {
        padding-top: 0px !important;
        padding-left: 0px;
      }
      @media screen and (max-width: $break-mobile) {
        padding-left: 15px !important;
        padding-right: 15px !important;
      }
      span{
        font-family:"Helvetica";
        font-size:12px;
        color:white;
        @media screen and (max-width: $break-small) {
          font-size:8px;
        }
        @media screen and (max-width: $break-extrasmall) {
          font-size:12px;
        }
      }
      .bigger{
        font-size:14px;
        @media screen and (max-width: $break-mediumlarge) {
          font-size:10px;
        }
        @media screen and (max-width: $break-small) {
          font-size:8px;
        }
        @media screen and (max-width: $break-extrasmall) {
          font-size:10px;
        }
      }
    }
    .volne{
        .podlazie{
          background-color:#78984d;
          font-family:"Helvetica";
          color:white;
          font-size:28px;
          width: 25%;
          text-align:center;
          @media screen and (max-width: $break-small) {
            font-size:20px;
          }
        }
        .text{
          background-color:#88ad56;
          width:75%;
        }
      }
      .obsadene{
        .podlazie{
          background-color:#a5151a;
          font-family:"Helvetica";
          color:white;
          font-size:28px;
          width: 25%;
          text-align:center;
          @media screen and (max-width: $break-small) {
            font-size:20px;
          }
        }
        .text{
          background-color:#be151b;
          width:75%;
        }
      }
    .budova{
      top: 35px;
      position: relative;
    }
  }
  .modal{
    .modal-dialog{
      max-width:80%;
      @media screen and (max-width: $break-extrasmall) {
          max-width:98%;
        }
    }
    .modal-content{
      display:block;
      margin:0 auto;
    }
    img{
      width:100%;
    }
    button{
      outline:none;
      font-size:18px;
    }
    h4{
      font-size:18px;
      color:$bastion-red;
      font-weight:900;
      margin-bottom:12px;
      text-align:right;
    }
     h3{
      font-size:26px;
      color:$bastion-blue;
      font-weight:900;
      margin-bottom:30px;
      text-align:right;
    }
    .legend{
      bottom: 20%;
      position: absolute;
      right: 0;
      @media screen and (max-width: $break-small) {
          position:relative;
        }
    }
    .legendmore{
      bottom:20px !important;
    }
    .text{
      display:flex;
      width:70%;
      float:right;
      justify-content: space-around;
        @media screen and (max-width: $break-extrasmall) {
          width:90%;
        }
      p{
        font-size:12px;
        text-align:center;
        font-weight:600;
        margin-bottom:0.5rem;
        @media screen and (max-width: $break-large) {
          font-size:10px;
        }
      }
    }
    table{
      float:right;
    }
    td{
      padding-left:15px;
      font-size:12px;
        text-align:center;
        font-weight:600;
        margin-bottom:0.5rem;
        @media screen and (max-width: $break-large) {
          font-size:10px;
        }
    }
    .free{
      color:#b6dd31;
    }
    .used{
      color:red;
    }
    .reserved{
      color:orange;
    }
  }
  #gdpr{
    position:relative;
    top:80px;
    padding-top:80px;
    p{
      color:black;
      font-size:14px;
    }
    h6{
      font-weight:bold;
      font-size:18px;
      color:$bastion-blue;
    }
    h4{
      font-weight:bold;
      font-size:22px;
      color:$bastion-blue;
    }
  }
  #emailModal{
    .modal-dialog{
      max-width:500px;
      @media screen and (max-width: $break-extrasmall) {
        max-width: 90%;
        display: block;
        margin: 0 auto;
        margin-top: 50px;
      }
    }
  }
}

.fancybox-toolbar {
    right: 5% !important;
    top: 0;
}



input[type="email"], input[type="password"], input[type="text"] 
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 42px; // Increase height as required
    margin-bottom: 50px;
    padding: 0 20px; // Now only left & right padding
}

.headerTeam{
  position:relative;
  top:88px;
   @media screen and (max-width: $break-medium) {
    display:none;
   }
  h3{
    color:white;
    font-family: 'Montserrat';
    font-size:54px;
  }
  h4{
    color:white;
    font-family: 'Montserrat';
    font-size:28px;
    text-align:center;
  }
  .headerText{
    position: relative;
    top: 60vh;
    background-color:rgba(0,0,0,0.4);
    margin-left: 10vw;
    margin-right: 10vw;
  }
  .divider{
    width:100%;
    height:3px;
    background-color:$bastion-red;

  }

}
.ourteam{
  position:relative;
  top:88px;
  margin-top:20px;

  h6{
    font-size: 32px;
    color: $bastion-red;
    text-align: center;
    font-weight: 900;
  }
  img{
    width:100px;
    height:100px;
    border-radius: 150px;
    margin-right:20px;
  }
  h4{
    font-size: 28px;
    color: $bastion-blue;
    font-weight: 900;
  }
  .icon{
    width: 20px;
    height: 20px;
    background-size: 100%;
    display: inline-block;
    margin-right: 6px;
    background-repeat:no-repeat;
    background-position: center;
    position: relative;
    top: 5px;
  }
  li{
    font-size:14px;
    color:$bastion-blue;
    margin-top:15px;
    margin-bottom:15px;
  }
  .vizitka{
    padding-bottom: 20px;
    h5{
      font-size: 16px;
      color:$bastion-blue;
    }
    p{
      font-size:12px;
      color:$bastion-blue;
    }
  }
  ul{
    padding-bottom:20px;
  }
}

.pt-50{
  padding-top:50px;
}
.pb-50{
  padding-bottom:50px;
}
.grey{
  background-color:#ededed;
}

.ourteamlink{
      background-color: #be151b;
    color: white;
    border: none;
    outline: none;
    padding: 12px 25px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    text-align:center;
    margin-top:20px;
    margin-left:40px;
    margin-right:40px;
    margin-bottom:20px;
    &:hover{
      text-decoration:none;
      color:white;
    }
}